.jumbotron {
    background-color: rgb(86, 114, 81);
    color: rgb(224, 233, 220);
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(208, 223, 205);
    color: rgb(35, 49, 172);
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
    }

.btn-reserva {
    width: 100%;
}

.footer-adress-icon{
    padding-right: 10px;
}

